body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: gray;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
}
.wrapper {
  margin: 30px auto;
  max-width: none;
}
.weathermain {
  border: 1px solid lightslategray;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(215, 223, 252) 0%,
    rgb(255, 255, 255) 0%,
    rgb(215, 223, 252) 84%
  );
  border-radius: 10px;
  padding: 20px;
}
.row {
  margin: 5px;
  line-height: 20px;
}
ul {
  list-style-type: none;
}
.main-icon {
  position: relative;
  bottom: 10px;
}

.h2 {
  font-size: 50px;
}
.units {
  position: relative;
  bottom: 25px;
  font-size: 16px;
  font-weight: 500;
}
a {
  text-decoration: none;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: black;
}
.forecast {
  text-align: center;
  color: black;
}
.forecast-day {
  opacity: 0.6;
}
.forecast-temp {
  font-size: 13px;
}
.min-temp {
  opacity: 0.6;
}
